@import url(https://db.onlinewebfonts.com/c/229a57bbeef591e04a1fdfe347c90864?family=Centra+No2);

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



.main {
    /* width: 100%; */
    /* width: 1270px; */
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
}

.container-one {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%), url(images/rear-view-programmer-working-all-night-long.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px
}

.container-one {
    /* width: 1320px; */
    /* width: 100%; */
    margin: auto;
    position: relative;
}

.nav {
    height: 60px;
    width: 100%;
    position: relative;
    position: relative;
}

.logo img {
    width: 250px;
    padding-top: 30px;
}

.section-one h2 {
    color: #E3E3E3;
    text-align: center;
    padding-top: 130px;
    font-weight: 800 !important;
    line-height: 150%;
    font-size: 3rem;
}

.section-one span {
    color: #358DDE;
    font-weight: 900 !important;
    font-size: 3rem;
}

.section-one p {
    color: #ccc5c5;
    font-size: 1em;
    text-align: center;
    padding-top: 15px;
    line-height: 1.6;
    font-family: "Centra No2";
}

.section-one button {
    width: 165px;
    height: 35px;
    justify-content: center;
    background-color: #358DDE;
    border: none;
    border-radius: 50px;
    margin-top: 30px;
}

.section-one button a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
}

.sec-btn :hover {
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scale(1.09);
}


.sec-btn {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.btn-sec-one {
    border: none !important;
    background-color: #358DDE !important;
}

.section-two {
    width: 100%;
    margin: 0 auto;
    position: relative;
    /* width: 1320px; */
}

.two-inner-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 50px;
    width: 1260px;
    margin: 0 auto;
}

.section-two h1 {
    text-align: center;
    padding-top: 65px;
    font-size: 45px;
    color: #358DDE;
    text-transform: uppercase;
    font-family: "Centra No2";
}

.one-container {
    width: 30%;
    height: 260px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.6s;
    background-color: #1D2433;
    border-radius: 5px;
}

/* .one-container :hover {
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    transform: translateY(-5px);
    transform: scale(1.09);
} */

.one-container a {
    text-decoration: none;
    color: #ffffff;
}

.one-container img {
    width: 100%;
}

.text-img {
    padding-top: 10px;
    text-transform: capitalize;
}

.section-three {
    background-color: #358DDE;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}



.section-three h1 {
    color: #ffffff;
}



.footer {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #010A16;
    color: #F9F9F9;
    text-align: center;
    font-size: 14px;
    font-family: "Centra No2";
    padding-top: 35px;
    /* border-top-left-radius: 50px !important; */
}

.footer .icons i:hover {
    transition: 0.4s;
    transition-timing-function: ease-in;
    transform: translateY(-5px);
    color: #358DDE !important;
}


.footer-main {
    display: flex;
    justify-content: center;
}

.footer-main h2 {
    font-size: 3rem;

}

.footer-main .one {
    font-size: 2rem;
    letter-spacing: 4px;
}

.policy {
    margin-top: 65px;
}

.policy span {
    color: #358DDE;
}


